<div class="container">
  <h1>Welcome to <span class="brand">Nybooks for COMP584</span></h1>
  <p>My single-page application, built with:</p>
  <ul>
    <li>
      <a href="https://get.asp.net/">ASP.NET Core</a> and
      <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a>
      for cross-platform server-side code
    </li>
    <li>
      <a href="https://angular.io/">Angular</a> and
      <a href="http://www.typescriptlang.org/">TypeScript</a> for client-side
      code
    </li>
    <li>
      <a href="http://getbootstrap.com/">Bootstrap</a> for layout and styling
    </li>
  </ul>
  <p>My repositories</p>
  <ul>
    <li>
      <strong>Client-side code: </strong
      ><a href="https://github.com/nyvia-projects/NybookClient"
        >NybookClient Github Link</a
      >
    </li>
    <li>
      <strong>Server-side code: </strong
      ><a href="https://github.com/nyvia-projects/NybookServer"
        >NybookServer Github Link</a
      >
    </li>
  </ul>
</div>
